{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}
{% block content %}

<h1>Administration</h1>
<p>En construction</p>
    <div id="contenu">
        <ul>
            <li><a href="../public/index.php?route=add_article">Créer un nouvel article</a></br></li>
            <li><a href="../public/index.php?route=reportComment">Liste des commentaires signalées</a></li>
            <li><a href="../public/index.php?route=listUser">Liste des utilisateurs</a></li>
            <li>{{ parent() }}</li>
        </ul>
<div class="news">
    {% for data in articles %}
    <h2><a href="../public/index.php?route=single&articleId={{ data.id }}">{{ data.title }}</a></h2>

    <p>

        <br />
        <em><a href="../public/index.php?route=comment&article={{ data.id }}">Commentaires</a><a href="../public/index.php?route=get_article&article={{ data.id }}">Modifier</a><a href="../public/index.php?route=delete_article&article={{ data.id }}">Supprimer</a></em>
    </p>
    {% endfor %}
</div>
</div>
{% endblock %}