{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}
{% block header %}{{ parent() }}{% endblock %}
{% block content %}
    {% for data in result %}

<h2>Editeur de texte</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <form method="post" action="../public/index.php?route=update_article&articleId={{ app.get.articleId }}" name="sentMessage" id="contactForm">
                    <div class="control-group">
                        <div class="form-group controls">

            <label for="titre">Titre</label> : <input type="text" name="titre" id="pseudo" value="{{ data.title }}"><br />
            <label for="article">Article</label> :  <textarea name="article" id="message" rows="20" >{{ data.content }}</textarea><br />

            <input type="submit" class="btn btn-secondary" value="Envoyer" />
</div>
</div>
    </form>
    </div>
    </div>

    {% endfor %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=zi1bvc4rum0rk645xk1e5dq7ybgjb8fzaktl15q3m88bnqkl"></script>
    <script>
        tinymce.init({
            selector: '#message'
        });
    </script>
{% endblock %}