{% extends 'base.html.twig' %}

{% block title %}Commentaires{% endblock %}
{% block content %}

    <p><a href="../public/index.php">Retour à la liste des billets</a></p>
    <div class="news">
        {% for data in article %}
{{ dump(article) }}
            <h3>{{ data.title }}</h3><em>{{ 'le'~data.created_at_fr }}</em>
            <p>{{ data.content }}</p>

    {% endfor %}
    </div>
<h2>Commentaires</h2>
<div>
    {{ dump(comment) }}
    {% for data in comment %}

        <h3>{{ data.name ~ ' le ' ~ data.created_at }} </h3>
        <p>{{ data.content }}</p>
        {% if app.session.name == data.name or app.session.id == 2 %}
            <a href="{{' ../public/index.php?route=delete_comment&ID_comment='~data.id~'&ID_article='~app.get.article}}">Supprimer </a>
            <a href="{{' ../public/index.php?route=get_comment&ID_comment='~data.id~'&ID_article='~app.get.article}}">Modifier</a>
        {% endif %}
    {% endfor %}
</div>
    <p class="newComments">Ajouter un nouveau commentaire :
        <form method="post" action="../public/index.php?route=add_comment&article={{ app.get.article }}" class="newComments">
    <p>
        <label for="message">Message</label> :  <input type="text" name="message" id="message" value={{ app.post.message }} /><br />

        <input type="submit" value="Envoyer" />
    </p>
    </form>
    </p>
{% endblock %}


{#

foreach ($comments as $donnees)
{
?>
<p><strong><?php echo htmlspecialchars($donnees['auteur']); ?></strong> le <?php echo $donnees['date_commentaire_fr']; ?>
    <?php
    if($_SESSION['pseudo'] ==  $donnees['auteur'] || $_SESSION['id'] == 2) {
        echo '<a href="../public/index.php?route=delete_comment&ID_comment=' . $donnees['ID'] . '&ID_article=' . $_GET['article'] . '">Supprimer </a>';
    echo '<a href="../public/index.php?route=get_comment&ID_comment=' . $donnees['ID'] . '&ID_article=' . $_GET['article'] . '">Modifier </a></p>';
}
?>
<p><?php echo nl2br(htmlspecialchars($donnees['commentaire'])); ?></p>
<?php
} // Fin de la boucle des commentaires

?>
<p class="newComments">Ajouter un nouveau commentaire :
    <form method="post" action="../public/index.php?route=add_comment&article=<?php echo $_GET['article'];?>" class="newComments">
<p>
    <label for="message">Message</label> :  <input type="text" name="message" id="message" value="<?php if(isset($_POST['message'])){echo $_POST['message'];}?>" /><br />

    <input type="submit" value="Envoyer" />
</p>
</form>
</p>#}