{% extends 'base.html.twig' %}
{% block title %}Modifier votre commentaire{% endblock %}
{% block header %}{{ parent() }}{% endblock %}
{% block content %}
    <div class="news">
        <p>Modifier votre commentaire :</p>
        {% for data in comment %}
            <form method="post" action="../public/index.php?route=update_comment&articleId={{ app.get.articleId }}&ID_comment={{ app.get.ID_comment }}" class="newComments">
                <p>
                    <label for="pseudo">Pseudo</label> : <input type="text" name="name" id="auteur" value="{{ data.name }}" /><br />
                    <label for="message">Message</label> :  <input type="text" name="content" id="commentaire" value="{{ data.content }}" /><br />

                    <input type="submit" value="Envoyer" />
                </p>
            </form>
        {% endfor %}
    </div>
{% endblock %}