{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}
{% block header %}{{ parent() }}{% endblock %}
{% block content %}

    <div class="container">
        {% for data in article %}
            <h2>{{ data.title }}</h2></br><em>{{ 'le '~data.created_at|date("d/m/Y") }}</em></br>
            <p>{{ data.content|raw }}</p>

        {% endfor %}
    </div>
    <h2 id="linkCom">Commentaires</h2>
    <div class="container">
        <ul class="list-unstyled">
            {% for data in comment %}
                <li>
                    <h3>{{ data.name ~ ' le ' ~ data.created_at|date("d/m/Y") }} </h3>
                    <div class="comment">
                        <p>{{ data.content }}</p>
                        {% if app.session.name == data.name or app.session.id == 2 %}
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                                Supprimer
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Voulez-vous vraiment supprimer ce commentaire ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                            <a class="btn btn-secondary" href="{{' ../public/index.php?route=delete_comment&ID_comment='~data.id~'&articleId='~app.get.articleId}}">Supprimer </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-secondary" href="{{' ../public/index.php?route=get_comment&ID_comment='~data.id~'&articleId='~app.get.articleId}}">Modifier</a>
                        {% else %}
                            <a class="btn btn-secondary" href="{{ '../public/index.php?route=report&ID_comment='~data.id~'&articleId='~app.get.articleId}}">Signaler</a>
                        {% endif %}
                        {% if data.report == 1 %}
                            <span class="badge badge-danger">Commentaire signalé</span>
                        {% endif %}
                    </div>
                    </br>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if app.session.id == 1 or app.session.id == 2 %}
        <div class="container">
            <div class="comment">
                <form method="post" action="../public/index.php?route=add_comment&articleId={{ app.get.articleId }}">
                <label for="message">Ajouter un nouveau commentaire </label> :  <input type="text" class="form-control" id="message" name="message"/>

                <input type="submit" value="Envoyer" class="btn btn-secondary" />
            </p>
            </form>
            </p>
            </div>
        </div>
    {% endif %}
{% endblock %}